<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="node_modules/angular/angular.min.js" ></script>
		<script type="text/javascript" src="app.js"></script>

			<title>Kentalent</title>
</head>
		
		<style type="text/css">div {margin:60px; width: 300px;} </style>
<body ng-app="Tobi">
		    <div align="center" class="container">
			    	<style type="text/css">body {background-color:teal;} </style>
			    	<img src="images.png" style="height:90px;width:100px">
			    	
			    <form  ng-controller= "SamCtrl";class="alert" ng-submit="doSubmit()" >
			    	<style type="text/css">h2{width: 400px }</style>
			    	<h2  align="center" style="color:red" >Dcode</h2>
						<div class="form-group" >
							<input class="form-control" ng-model="Firstname" type="text" placeholder="Firstname" /><br>
							<input class="form-control" ng-model="Surname" type="text" placeholder="Surname" /><br>
							<input class="form-control" ng-model="OtherNames" type="text" placeholder="Other names"/><br>
							<input class="form-control" ng-model="Username" type="text" placeholder="Select username"><br>
							<input class="form-control" ng-model="Hobby" type="text"placeholder="Hobby" /><br>
							<button type="submit" class="btn btn-mid btn-info" style="color:blue">Give Am</button>
						</div>
			</div>
			</form>
		</div>
				
</body>
</html> 
